@CHARSET "ISO-8859-1";
div {
	height: 230px;
	width: 100%;
}

header {
	height: 90px;
	width: 100%;
}

p {
	height: 270px;
	width: 100%;
	text-align: center;
}

header1 {
	height: 50px;
	width: 100%;
}

footer {
	height: 50px;
	width: 100%;
}