<div id="content" wc-protected-resource="RenditionProposal:execute"
	class="container-fluid">
	<h1></h1>
	<h2>{{'application.navigation.links.administration.entityMappingList'
		| translate}}</h2>
	<hr />
	<form class="well" role="form" name="listJobForm" novalidate >
		<div>
			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label for="market" class="control-label">{{'application.fields.market'
							| translate}} </label> <select
							og-validation-indicator="{{'application.fields.market' | translate}}"
							name="market" id="market" class="form-control" required
							ng-model='renditionEntityMappingCtrl.selectedMarket'
							ng-options="market.key as market.name for market in renditionEntityMappingCtrl.markets | orderBy:'name'"
							ng-change="renditionEntityMappingCtrl.loadModels();renditionEntityMappingCtrl.hideDataTable();">
							<option value="" default>{{'application.dropdownDefaults.selectMarket'|
								translate}}</option>
						</select>
					</div>
				</div>
				<div class="col-xs-3">
						<div class="form-group">
							<label for="vehicleLine" class="control-label">{{'application.fields.model'
								| translate}} </label> <select
								og-validation-indicator="{{'application.fields.model' | translate}}"
								name="vehicleLine" id="vehicleLine" class="form-control" required
								ng-model='renditionEntityMappingCtrl.selectedModel'
								ng-options="model.key as model.name for model in renditionEntityMappingCtrl.models | orderBy:'name'"
								ng-change="renditionEntityMappingCtrl.hideDataTable();renditionEntityMappingCtrl.searchEntityMappingList();">
								<option value="" default>{{'application.dropdownDefaults.selectModel'|
									translate}}</option>
							</select>
				</div>
				</div>
			</div>
			</div>
			</form>
			<div ng-if="renditionEntityMappingCtrl.isDisplayDataTable" class="col-xs-1.5">
			<div og-responsive-table
				data="renditionEntityMappingCtrl.populateDataTable"
				data-table-name="entity" row-key="uniqueKey"
				pagination-enabled responsive-view="list"
				id="list-entity-mapping-table" class="col-xs-12 wc-table" ng-model="renditionEntityMappingCtrl.vehiclesToUpdate">
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th wc-column-sort="pTransmission" wc-column-sort-default="asc">{{'application.fields.transmission'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="pTransmission" />
							</th>
							<th wc-column-sort="pEngine" wc-column-sort-default="asc">{{'application.fields.engine'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="pEngine" />
							</th>
							<th wc-column-sort="pSvp">{{'application.fields.svp' |
								translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="pSvp" />
							</th>
							<th wc-column-sort="pDerivative">{{'application.fields.derivative'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="pDerivative" />
							</th>
							<th wc-column-sort="pBody">{{'application.fields.body' |
								translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="pBody" />
							</th>
							<th wc-column-sort="pModelYear">{{'application.fields.modelyear'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="pModelYear" />
							</th>
							<th wc-column-sort="fromEntity">{{'application.fields.fromEntity'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="fromEntity" />
							</th>
							<th wc-column-sort="toEntity">{{'application.fields.toEntity'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="toEntity" />
							</th>
							<th wc-column-sort="cModelYear">{{'application.fields.modelyear'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="cModelYear" />
							</th>
							<th wc-column-sort="cBody">{{'application.fields.body' |
								translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="cBody" />
							</th>
							<th wc-column-sort="cDerivative">{{'application.fields.derivative'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="cDerivative" />
							</th>
							<th wc-column-sort="cSvp">{{'application.fields.svp' |
								translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="cSvp" />
							</th>
							<th wc-column-sort="cEngine" wc-column-sort-default="asc">{{'application.fields.engine'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="cEngine" />
							</th>
							<th wc-column-sort="cTransmission" wc-column-sort-default="asc">{{'application.fields.transmission'
								| translate}} <input class="form-control input-sm" type="text"
								wc-column-filter="cTransmission" />
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{row.pTransmission}}</td>
							<td>{{row.pEngine}}</td>
							<td>{{row.pSvp}}</td>
							<td>{{row.pDerivative}}</td>
							<td>{{row.pBody}}</td>
							<td>{{row.pModelYear}}</td>
							<td>{{row.fromEntity}}</td>
							<td>{{row.toEntity}}</td>
							<td>{{row.cModelYear}}</td>
							<td>{{row.cBody}}</td>
							<td>{{row.cDerivative}}</td>
							<td>{{row.cSvp}}</td>
							<td>{{row.cEngine}}</td>
							<td>{{row.cTransmission}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>