<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="manageMarketJobModalCtrl.reject()">&times;</button>
	<h1 class="modal-title">Rerun Model Manager</h1>
</div>

<div class="modal-body">
	<h4>Do you want to submit for Rerun the job</h4>
</div>

<div class="modal-footer text-center">
	<button id="modal-submit" class="btn btn-primary" ng-click="manageMarketJobModalCtrl.resolve()">Submit</button>
	<button id="modal-cancel" class="btn btn-secondary" ng-click="manageMarketJobModalCtrl.reject()">Cancel</button>
</div>
